.version.index /* version checker */
{
	color: #000015;
	background-color: #38AB5B;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 570px;
	border-style: none;
	border-color: #000000;
	background: transparent url("../images/bj.jpg") no-repeat center center;
	background-size: cover;
}

#page_position_content
{
	padding-top: 176px;
	padding-bottom: 29px;
	width: 0.01px;
}

#ppu211
{
	width: 0.01px;
	margin-left: 57px;
}

#u211
{
	z-index: 20;
	min-height: 74px;
	min-width: 163px;
	vertical-align: top;
	height: 60px;
	width: 149px;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: -7px;
	background: url("../images/u211.png") no-repeat 7px 7px;
}

#u211:hover
{
	height: 74px;
	width: 163px;
	background: url("../images/u211-r.png") no-repeat 0px 0px;
}

#u212
{
	z-index: 23;
	min-height: 74px;
	min-width: 128px;
	vertical-align: top;
	height: 60px;
	width: 114px;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: 145px;
	background: url("../images/u212.png") no-repeat 7px 7px;
}

#u212:hover
{
	height: 74px;
	width: 128px;
	background: url("../images/u212-r.png") no-repeat 0px 0px;
}

#pu214-4
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 14px;
}

#u214-4
{
	z-index: 25;
	width: 95px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
}

#u214-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 94px;
	margin: 0px -10001px -1px 0px;
}

#u215-4
{
	z-index: 29;
	width: 95px;
	min-height: 29px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 1px;
	left: 130px;
}

#u215-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 28px;
	width: 94px;
	margin: 1px -10001px -1px 0px;
}

#u216-4
{
	z-index: 33;
	width: 95px;
	min-height: 25px;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 22px;
	font-size: 18px;
	text-align: center;
	position: relative;
	margin-right: -10000px;
	margin-top: 3px;
	left: 260px;
}

#u216-4:hover
{
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 24px;
	width: 94px;
	margin: 3px -10001px -1px 0px;
}

#u197
{
	z-index: 14;
	width: 372px;
	height: 7px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #FFFFFF/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	left: -1px;
	position: relative;
}

#u188
{
	z-index: 7;
	width: 114px;
	background-color: transparent;
	margin-left: 20px;
	margin-top: 7px;
	position: relative;
}

#u188:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	width: 114px;
	min-height: 0px;
	margin: 7px 0px 0px 20px;
}

#pu176
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: -5px;
}

#u176
{
	z-index: 4;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 31px;
}

#u176:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	width: 114px;
	min-height: 0px;
	margin: 31px -10000px 0px 0px;
}

#u205
{
	z-index: 17;
	width: 112px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u205:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	width: 112px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u205_clip
{
	overflow: hidden;
	width: 112px;
	height: 66px;
}

#u205_img
{
	margin-top: -6px;
	margin-bottom: -7px;
}

#pu170
{
	width: 0.01px;
	margin-left: 20px;
	margin-top: 4px;
}

#u170
{
	z-index: 2;
	width: 114px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
}

#u170:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	width: 114px;
	min-height: 0px;
	margin: 17px -10000px 0px 0px;
}

#u199
{
	z-index: 15;
	width: 113px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 221px;
}

#u188::before,#u176::before,#u205::before,#u170::before,#u199::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: 0px;
	left: 0px;
	bottom: 0px;
	right: 0px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u199:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	width: 113px;
	min-height: 0px;
	margin: 0px -10000px 0px 0px;
}

#u199_img
{
	margin-bottom: -1px;
}

#u183
{
	z-index: 6;
	width: 256px;
	min-height: 24px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	margin-left: 69px;
	margin-top: 13px;
	position: relative;
}

#u196
{
	z-index: 13;
	width: 372px;
	height: 7px;
	-pie-box-shadow: 0px 0px 8px 2px #FFFFFF/* glow */,
6px 6px 8px #FFFFFF/* drop shadow*/;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	border-width: 3px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	left: -1px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
}

#u197::before,#u196::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -3px;
	left: -3px;
	bottom: -3px;
	right: -3px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u194-4
{
	z-index: 9;
	width: 172px;
	min-height: 40px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #FFFFFF;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-left: 118px;
	position: relative;
}

#u214-4:hover::before,#u215-4:hover::before,#u216-4:hover::before,#u194-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u194-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5)/* glow */,
6px 6px 8px rgba(255,255,255,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 172px;
	margin: 0px 0px 0px 118px;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

