.version.music /* version checker */
{
	color: #000007;
	background-color: #C9CC01;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 380px;
	min-height: 543px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#page_position_content
{
	padding-top: 12px;
	padding-bottom: 25px;
	width: 0.01px;
}

#ppu223
{
	width: 0.01px;
	margin-left: 34px;
}

#u223
{
	z-index: 13;
	min-height: 74px;
	min-width: 163px;
	vertical-align: top;
	height: 60px;
	width: 149px;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: -7px;
	background: url("../images/u223.png") no-repeat 7px 7px;
}

#u223:hover
{
	height: 74px;
	width: 163px;
	background: url("../images/u223-r.png") no-repeat 0px 0px;
}

#u224
{
	z-index: 16;
	min-height: 74px;
	min-width: 145px;
	vertical-align: top;
	height: 60px;
	width: 131px;
	margin-bottom: -8px;
	position: relative;
	margin-right: -10000px;
	margin-top: -7px;
	left: 176px;
	background: url("../images/u224.png") no-repeat 7px 7px;
}

#u224:hover
{
	height: 74px;
	width: 145px;
	background: url("../images/u224-r.png") no-repeat 0px 0px;
}

#u225
{
	z-index: 19;
	min-height: 74px;
	min-width: 187px;
	vertical-align: top;
	height: 60px;
	width: 173px;
	margin-left: 103px;
	top: -3px;
	margin-bottom: -3px;
	position: relative;
	background: url("../images/u225.png") no-repeat 7px 7px;
}

#u225:hover
{
	height: 74px;
	width: 187px;
	background: url("../images/u225-r.png") no-repeat 0px 0px;
}

#pu91
{
	width: 0.01px;
	margin-top: -4px;
}

#u91
{
	z-index: 2;
	width: 400px;
	min-height: 432px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u219
{
	z-index: 11;
	height: 13px;
	background-color: #1B1464;
}

#u219-bw
{
	z-index: 11;
	margin-top: 451px;
	height: 13px;
}

#pu217-4
{
	width: 0.01px;
	margin-left: 57px;
	margin-top: 5px;
}

#u217-4
{
	z-index: 3;
	width: 112px;
	min-height: 40px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #000000;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
}

#u218-4
{
	z-index: 7;
	width: 112px;
	min-height: 40px;
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(255,255,255,0.5),0px 0px 8px rgba(255,255,255,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: transparent;
	color: #000000;
	line-height: 36px;
	font-size: 30px;
	text-align: center;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	font-weight: bold;
	margin-bottom: -1px;
	position: relative;
	margin-right: -10000px;
	left: 161px;
}

#u217-4::before,#u218-4::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	z-index: -1;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u217-4:hover,#u218-4:hover
{
	-pie-box-shadow: none;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.5),0px 0px 8px rgba(0,0,0,0.5)/* glow */,
6px 6px 8px rgba(0,0,0,0.5)/* drop shadow*/;
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 40px;
	width: 112px;
	margin: 0px -10000px -1px 0px;
}

body
{
	position: relative;
	min-width: 380px;
	padding-bottom: 13px;
}

#page .verticalspacer
{
	clear: both;
}

