.version.untitled_4 /* version checker */
{
	color: #0000F9;
	background-color: #2559C7;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 200px;
	min-height: 51px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 294px 100px 225px 80px;
}

#u169-4
{
	z-index: 2;
	width: 200px;
	background-color: transparent;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

