.version.you_tube /* version checker */
{
	color: #000017;
	background-color: #DAEFE7;
}

@-ms-viewport
{
	width: 380px;
}

@-webkit-viewport
{
	width: 380px;
}

@-o-viewport
{
	width: 380px;
}

@-moz-viewport
{
	width: 380px;
}

@viewport
{
	width: 380px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 360px;
	min-height: 319px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
	padding: 112px 10px 139px;
}

#u107
{
	z-index: 2;
	width: 360px;
	min-height: 319px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

body
{
	position: relative;
	min-width: 380px;
}

#page .verticalspacer
{
	clear: both;
}

